[Desktop Entry]
Comment[it_IT]=
Comment=
Exec=env NVR_CMD=/bin/nvim-qt /bin/nvr
GenericName[it_IT]=
GenericName=
MimeType=text/plain;
Name[it_IT]=nvr
Name=nvr
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
